
html {
  box-sizing: border-box;
}

body {
  background: #358597;
  font-family: 'Open Sans', sans-serif;
}


/*top*/
.top {
  text-align: center;
}

.top h1 {
  padding: 0;
  margin-bottom: 0;
  color: #F4A896;
  text-transform: uppercase;
  font-weight: 800;
}

.top p {
  color: #FFCD5D;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 25px;
  text-align: center;
}

h1 {
  color: #25251d;
  padding: 20px;
  text-align: center;
  margin: 20px auto 10px;
}

/*modal*/
.modal-container {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.show-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  max-width: 95%;
  width: 500px;
  animation: modalopenanimate 1s;
  border-radius: 2%;
  overflow: hidden;
}

.close-icon {
  float: right;
  color: whitesmoke;
  font-size: 20px;
  position: relative;
  top: 6px;
  right: -10px;
  cursor: pointer;
}

.modal-header {
  background: cadetblue;
  color: #fff;
  padding: 15px;
}

.modal-header h3 {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}


.modal-content {
  padding: 20px;
  background: whitesmoke;
  height: 180px;
}


.form-group p {
  color: grey;
  font-size: 12px;
  font-weight: lighter;
  margin-bottom: 2px;
}

.form-group {
  height: 55px;
}

.form-input {
  width: 97%;
  padding: 5px;
  border: 2px solid cadetblue;
  border-radius: 5px;
  display: block;
  outline: none;
}

.form-label {
  color: cadetblue;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}


.fas {
  padding-right: 1rem;
}

/* data */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item {
  background: rgba(255, 255, 255, 0.6);
  color: black;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  transition: all .2s ease-in-out;
}

.item:hover {
  background: rgba(255, 255, 255, 0.7);
}


.name {
  margin-top: 20px;
  margin-right: 20px;
}

.fa-trash {
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.fa-trash:hover {
  transform: scale(1.3);
}




button {
  cursor: pointer;
  color: white;
  background: cadetblue;
  border: 1px solid grey;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin-top: 0;
  transition: all .2s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

#page-form button {
  margin-top: 15px;
}

button:hover {
  filter: brightness(110%);
}

@keyframes modalopenanimate {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media screen and (max-width: 768px) {
  .container {
    justify-content: center;
  }


}
